@font-face {
    font-family: "twayFly";
    font-weight: normal;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/twayFly/twayFly.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/twayFly/twayFly.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/twayFly/twayFly.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/twayFly/twayFly.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/twayFly/twayFly.ttf") format("truetype");
    font-display: swap;
}
.twayFly {
    font-family: "twayFly";
}